[Application]
name=Guess the Number
version=1.0
entry_point=guessnumber:main
# Test logo= option with JPG format (auto-converted to ICO via Pillow)
logo=logo_jpg.jpg
# We need to set this to get a console:
console=true

[Python]
version=3.12.10
bitness=64
format=bundled

[Include]
packages=guessnumber

[Command guessnumber]
entry_point=guessnumber:main
