[Application]
name=Guess the Number
version=1.0
entry_point=guessnumber:main
# Test logo= option with ICO format (used directly, no conversion needed)
logo=logo_ico.ico
# We need to set this to get a console:
console=true

[Python]
version=3.12.10
bitness=64
format=bundled

[Include]
packages=guessnumber

[Command guessnumber]
entry_point=guessnumber:main
